{% extends "pages/base.html" %}
{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-parent" id="appparenttile">
      <div class="tile is-child" id="appcontenttile"></div>
  </div>
  <div class="tile is-parent" id="teamparenttile">
    <div class="tile is-child" id="teamcontent1"></div>

    <div class="tile is-child" id="teamcontent1"></div>

    <div class="tile is-child" id="teamcontent1"></div>

    <div class="tile is-child" id="teamcontent1"></div>

    <div class="tile is-child" id="teamcontent1"></div>

    <div class="tile is-child" id="teamcontent1"></div>
  </div>
</div>
{% endblock %}
