<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sigma</title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js"></script>
  <!-- Bulma Version 0.7.4-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css">
  <!-- Base Page CSS -->
  {% load compress staticfiles %}
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "/css/base.scss" %}">
  {% endcompress %}

</head>

<body>
  <script type="text/javascript">
      function toggleStuff(id,class_toggle) {
        var element = document.getElementById(id)

        if (element.classList) {
              element.classList.toggle(class_toggle);
              }
        }
  </script>

  <!-- Slider Menu Section -->
  <div id="slider">
    <div class="menu">
      <div :class="['menu__burger', {'menu__burger--open': this.open}]" @click="toggleNav">
        <span class="menu__burger__span"></span>
      </div>
      <nav :class="['menu__nav', {'menu__nav--open': this.open}]">
        <ul class="menu__list">
          <li v-for="option in options">
            <a class="is-size-4 is-size-4-mobile has-text-white" v-bind:href="option.url"> [[option.name]] </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Fullpage Hero Section -->
  <section class="hero is-info is-fullheight">
    <!-- Hero Head -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                  <a class="button is-white is-outlined" href="{% url 'landing' %}">
                      <span class="icon">
                          <i class="fa fa-home"></i>
                      </span>
                  <span>Home</span>
                  </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
              <span>Examples</span>
              </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/pedrogritter/sigma/wiki">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
              <span>Documentation</span>
              </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/pedrogritter/sigma">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
              <span>View Source</span>
              </a>
              </span>
            </div>
            <div class="navbar-item">
              <div class="field is-grouped">
                {% if user.is_authenticated %}
                <p class="control">
                  <a href="{% url 'authentication' slug='logout' %}" class="button is-primary is-outlined">
                      Logout
                  </a>
                </p>
                {% else %}
                <p class="control">
                  <a href="{% url 'authentication' slug='login' %}" class="button is-primary is-outlined">
                      Login
                  </a>
                </p>
                <p class="control">
                  <a href="{% url 'authentication' slug='signup' %}" class="button is-success is-outlined">Need an account?</a>
                </p>
                {% endif %}
            </div>
          </div>


        </div>
      </nav>
    </div>
    <div class="hero-body">
      {% if messages %}
        {% for message in messages %}
        <div id = "message-box" class="notification is-{{ message.tags }}">
                  <button class="delete" onclick="toggleStuff('message-box','is-hidden')"></button>
                  {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      <!-- Content  -->
      {% block content %}{% endblock %}
    </div>
  </section>
  <!-- Footer Section -->
  <footer class="footer is-pulled-bottom has-background-dark is-narrow">
    <div class="container">
      <div class="content has-text-centered is-centered has-text-white-ter">
        <div>
          <p>
            <a href="https://bulma.io">
                       <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
            </a>
            <small>
                <br>
                    Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                <br>
                    Website content licensed <a rel="license" href="https://ciencias.ulisboa.pt/">LTI-G11</a>.
            </small>
          </p>
        </div>
      </div>
    </div>
  </footer>

  {% load compress staticfiles %}
  {% compress js %}
  <script src="{% static "/js/basevue.js" %}"></script>
  {% endcompress %}

</body>

</html>
