<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sigma</title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Vue.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js"></script>
  <!-- Bulma Version 0.7.4-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css">
  <!-- Landing Page CSS -->
  <style>
    html,
    body {
      font-family: 'Open Sans', serif;
    }

    .hero.is-info {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .hero .nav,
    .hero.is-success .nav {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .hero .subtitle {
      padding: 3rem 0;
      line-height: 1.5;
      .footer {
        height: 5%
      }
    }
    .footer-widgets {
    }

  </style>
  {% load compress staticfiles %}
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "/css/base.scss" %}"/>
  {% endcompress %}
</head>

<body>
  <section class="hero is-info is-fullheight">
    <!-- Hero Head -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <!-- <a class="navbar-item" href="../"> -->
                            <!-- <img src="https://camo.githubusercontent.com/7e19121ade1fd4655927666ac9fdb75855c9e225/68747470733a2f2f63646e312e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6469637469636f6e732d746578742d616c69676e6d656e742f33322f7369676d612d3132382e706e67" alt="Logo">
                        </a> -->
            <!-- <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
            <span></span>
            <span></span>
            </span> -->
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="http://sigma-alfa.herokuapp.com">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
              <span>Home</span>
              </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
              <span>Examples</span>
              </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/pedrogritter/sigma/wiki">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
              <span>Documentation</span>
              </a>
              </span>
              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/pedrogritter/sigma">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
              <span>View Source</span>
              </a>
              </span>
            </div>
          </div>


        </div>
      </nav>
    </div>

    <!-- Slider Menu  -->

    <script type="text/javascript">
      var options = {{ items_json | safe }};
    </script>
    <div id="app">
      <!-- NEW TEMPLATE -->
      <!-- <button @click="show = !show">
                    Show menu
      </button> -->

      <!-- <div :class="['menu__burger', {'menu__burger--open': this.open}]" @click="show = !show">
          <span class="menu__burger__span"></span>
      </div>
      <transition name="slide-fade">
        <aside class="menu" v-if="show">
          <ul class="menu-list">
            <li v-for="option in options">
              <a v-bind:href="option.url"> [[option.name]] </a>
            </li>
          </ul>
        </aside>
      </transition> -->

      <!-- OLD TEMPLATE -->
      <div class="menu">
                       <div :class="['menu__burger', {'menu__burger--open': this.open}]" @click="toggleNav">
                           <span class="menu__burger__span"></span>
                       </div>
                       <nav :class="['menu__nav', {'menu__nav--open': this.open}]">
                          <ul class="menu__list">
                              <li v-for="option in options">
                                <a class="is-size-3 is-size-2-mobile" v-bind:href="option.url"> [[option.name]] </a>
                              </li>
                          </ul>
                        </nav>
                  </div>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
                            Sigma
                        </h1>
          <h2 class="subtitle">
                            Simplifying what should be simple
                        </h2>
        </div>
      </div>
    </div>

    <footer class="footer is-pulled-bottom has-background-dark is-narrow">
      <div class="container">
        <div class="content has-text-centered is-centered has-text-white-ter">
          <div>
            <p>
              <a href="https://bulma.io">
                         <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
                         </a>
              <small>
                               <br>
                               Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
                               <br>
                               Website content licensed <a rel="license" href="https://ciencias.ulisboa.pt/">LTI-G11</a>.
                             </small>
            </p>
          </div>
        </div>
      </div>
    </footer>

  </section>

  <script type="text/javascript">
    // Still working on this

    new Vue({
      delimiters: ['[[', ']]'],
      el: "#app",

      data: {
        open: false,
        show: false,
        options: options,
      },

      methods: {
        toggleNav: function() {
          this.open = !this.open
          this.$emit('toggle', this.open)
        }
      }
    })
  </script>
</body>

</html>
