{% extends "pages/base.html" %}
{% block content %}

<div class="container has-text-centered">
  <div class="column is-6 is-offset-3">
    <div class="content">
      <form method="POST">
        {% csrf_token %}
        <!-- bulma form classes -->
        <fieldset>
            <legend class="label">Sign up now</legend>
            {{ form }}
        </fieldset>
        <div>
          <button class="button is-primary" type="submit">Sign Up</button>
        </div>
      </form>
      <div class="box">
        <small> Already have An Account? <a href="#">Sign In</a></small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
