{% extends "userprofiles/profile_base.html" %}
{% block profile %}
<section class="section">
<div class="columns is-mobile is-multiline">
  <div class="column is-4">
    <a class="button is-large is-fullwidth">1º Semestre</a>
  </div>
  <div class="column is-4">
    <a class="button is-large is-fullwidth">2º Semeste</a>
  </div>
  <div class="column">
    <div class="contain" id="schedulecontainer"></div>
  </div>

</div>

</section>
<section class="section schedulesection">
  <div class="container">
    <div class="content">
        <table>
          <tr>
              <th>UC</th>
          </tr>
          {% for item in uc_list %}
            <tr>
              <td>{{item.uc.name}} || {{item.aula.type}} || {{item.aula.horaINI}} - {{item.aula.horaFIM}}  {{item.aula.diaSemana}}</td>
            </tr>
          {% endfor %}
        </table>
    </div>
  </div>
</section>

{% endblock %}
