{% extends "userprofiles/profile_base.html" %}
{% block profile %}
<section class="section">
<div class="columns is-mobile is-multiline">
  <div class="column is-4">
    <a class="button is-large is-fullwidth">1º Semestre</a>
  </div>
  <div class="column is-4">
    <a class="button is-large is-fullwidth">2º Semeste</a>
  </div>
  <div class="column">
    <div class="contain" id="schedulecontainer"></div>
  </div>

</div>

</section>
<section class="section schedulesection">
  <div class="container">
    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Hora</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sabado</th>
          </tr>
        </thead>
        <tbody>
          {% for hora in slots %}
          <tr>
            <td>{{ hora }}</td>
            {% for wday in days %}
            <td>
              {% for item in uc_list %}
                {% if item.aula.diaSemana == wday and hora == item.aula.horaINI %}
                  {{item.uc.abv}} || {{item.aula.type}}
                {% endif %}
              {% endfor %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <!-- <div class="container">
      <h1>Troca de Aulas</h1> <br>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >SUBMIT</button>
      </form>
      <h2>{{ text }}</h2>

    </div> -->

    <button class="button is-danger" onclick="toggleStuff('pedido_troca','is-active')">Trocar de turnos</button>

    <!-- Edit preferences modal -->
    <div id="pedido_troca" class="modal">
        <div class="modal-card">
           <header class="modal-card-head">
             <p class="modal-card-title">Troca de Turnos</p>
             <button class="delete" onclick="toggleStuff('pedido_troca','is-active')"></button>
           </header>
           <section class="modal-card-body">
             <!-- Content ... -->
             <!-- <label for="label">Name</label>
             <p class="control has-icon has-icon-right">
              <input type="text" class="input" placeholder="Change name">
             </p> -->
             <form method="post">
             {% csrf_token %}
              {{form.as_p}}
              </form>
             <!-- Content -->
           </section>
           <footer class="modal-card-foot">
             <a class="button is-success" type="submit">Save changes</a>
             <a class="button" onclick="toggleStuff('pedido_troca','is-active')">Cancel</a>
           </footer>
       </div>
    </div>
      <!-- Edit prefrences modal -->

  </div>
</section>

{% endblock %}
