/* Enter and leave animations can use different */
/* durations and timing functions.              */
/* line 3, static/css/base.scss */
.slide-fade-enter-active {
  transition: all .3s ease; }

/* line 6, static/css/base.scss */
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

/* line 9, static/css/base.scss */
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0; }

/* line 23, static/css/base.scss */
.menu__burger {
  width: 50px;
  height: 50px;
  left: 20px;
  top: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 99; }
  /* line 33, static/css/base.scss */
  .menu__burger__span, .menu__burger__span:before, .menu__burger__span:after {
    position: absolute;
    height: 5px;
    width: inherit;
    background-color: #000;
    transition: all 0.2s; }
    /* line 39, static/css/base.scss */
    .menu__burger__span:before {
      content: "";
      top: -10px; }
    /* line 44, static/css/base.scss */
    .menu__burger__span:after {
      content: "";
      top: 10px; }
  /* line 51, static/css/base.scss */
  .menu__burger--open .menu__burger__span, .menu__burger--open .menu__burger__span:before, .menu__burger--open .menu__burger__span:after {
    background-color: transparent; }
    /* line 53, static/css/base.scss */
    .menu__burger--open .menu__burger__span:before, .menu__burger--open .menu__burger__span:after {
      background-color: #fff;
      transform-origin: 0 50%; }
    /* line 59, static/css/base.scss */
    .menu__burger--open .menu__burger__span:before {
      transform: translateX(7px) translateY(-5px) rotate(45deg); }
    /* line 62, static/css/base.scss */
    .menu__burger--open .menu__burger__span:after {
      transform: translateX(7px) translateY(10px) rotate(-45deg); }

/* line 68, static/css/base.scss */
.menu__nav {
  position: absolute;
  top: 0;
  left: -25%;
  height: 100%;
  width: 10%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #333;
  transition: all 0.3s;
  z-index: 98; }
  @media screen and (max-width: 768px) {
    /* line 68, static/css/base.scss */
    .menu__nav {
      width: 90%;
      left: -90%; } }
  /* line 86, static/css/base.scss */
  .menu__nav--open {
    left: 0; }

/* line 90, static/css/base.scss */
.menu__list {
  list-style: none;
  position: absolute;
  top: 10%;
  left: 25px; }
  /* line 96, static/css/base.scss */
  .menu__list__item {
    margin-left: 0;
    margin-top: 15%;
    font-size: 250%;
    transition: all 0.3s ease-in-out; }

/* line 103, static/css/base.scss */
.menu__link {
  text-decoration: none;
  color: #ddd; }
  /* line 106, static/css/base.scss */
  .menu__link:hover {
    text-decoration: inherit;
    color: #fff; }
