/* line 3, static/css/base.scss */
html,
body {
  font-family: 'Open Sans', serif; }

/* line 8, static/css/base.scss */
.hero.is-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* line 16, static/css/base.scss */
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 22, static/css/base.scss */
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5; }
  /* line 25, static/css/base.scss */
  .hero .subtitle .footer {
    height: 5%; }

/* Enter and leave animations can use different */
/* durations and timing functions.              */
/* line 35, static/css/base.scss */
.slide-fade-enter-active {
  transition: all .3s ease; }

/* line 38, static/css/base.scss */
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

/* line 41, static/css/base.scss */
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0; }

/* line 56, static/css/base.scss */
.menu__burger {
  width: 50px;
  height: 50px;
  left: 20px;
  top: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 99; }
  /* line 66, static/css/base.scss */
  .menu__burger__span, .menu__burger__span:before, .menu__burger__span:after {
    position: absolute;
    height: 5px;
    width: inherit;
    background-color: #fff;
    transition: all 0.2s; }
    /* line 72, static/css/base.scss */
    .menu__burger__span:before {
      content: "";
      top: -10px; }
    /* line 77, static/css/base.scss */
    .menu__burger__span:after {
      content: "";
      top: 10px; }
  /* line 84, static/css/base.scss */
  .menu__burger--open .menu__burger__span, .menu__burger--open .menu__burger__span:before, .menu__burger--open .menu__burger__span:after {
    background-color: transparent; }
    /* line 86, static/css/base.scss */
    .menu__burger--open .menu__burger__span:before, .menu__burger--open .menu__burger__span:after {
      background-color: #fff;
      transform-origin: 0 50%; }
    /* line 92, static/css/base.scss */
    .menu__burger--open .menu__burger__span:before {
      transform: translateX(7px) translateY(-5px) rotate(45deg); }
    /* line 95, static/css/base.scss */
    .menu__burger--open .menu__burger__span:after {
      transform: translateX(7px) translateY(10px) rotate(-45deg); }

/* line 101, static/css/base.scss */
.menu__nav {
  position: absolute;
  top: 0;
  left: -25%;
  height: 100%;
  width: 15%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #333;
  transition: all 0.3s;
  z-index: 98; }
  @media screen and (max-width: 1100px) {
    /* line 101, static/css/base.scss */
    .menu__nav {
      width: 90%;
      left: -90%;
      font-size: 1.5rem; } }
  @media screen and (max-width: 1200px) and (min-width: 768px) {
    /* line 101, static/css/base.scss */
    .menu__nav {
      width: 30%;
      left: -90%;
      font-size: 1.5rem; } }
  /* line 128, static/css/base.scss */
  .menu__nav--open {
    left: 0; }

/* line 132, static/css/base.scss */
.menu__list {
  list-style: none;
  position: absolute;
  top: 15%;
  left: 25px; }
  /* line 138, static/css/base.scss */
  .menu__list__item {
    margin-left: 0;
    margin-top: 20%;
    font-size: 200px;
    transition: all 0.5s ease-in-out; }

/* line 145, static/css/base.scss */
.menu__link {
  text-decoration: none;
  color: #ddd; }
  /* line 148, static/css/base.scss */
  .menu__link:hover {
    text-decoration: inherit;
    color: #fff; }

/* line 157, static/css/base.scss */
#message-box {
  position: absolute;
  top: 8%;
  margin-top: 5%;
  right: 2%; }

/* line 164, static/css/base.scss */
.float {
  animation-name: float;
  -webkit-animation-name: float;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

@-moz-keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-o-keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

/* line 233, static/css/base.scss */
.stat-val {
  font-size: 3em;
  padding-top: 20px;
  font-weight: bold; }

/* line 239, static/css/base.scss */
.stat-key {
  font-size: 1.4em;
  font-weight: 200; }

/* line 244, static/css/base.scss */
.section.profile-heading .column.is-2-tablet.has-text-centered + .has-text-centered {
  border-left: 1px dotted rgba(0, 0, 0, 0.2); }

/* line 248, static/css/base.scss */
.container.profile {
  margin-top: 1%; }

/* line 252, static/css/base.scss */
.control.is-pulled-left span.select {
  margin-right: 5px;
  border-radius: 2px; }

/* line 257, static/css/base.scss */
.modal-card .content h1 {
  padding: 40px 10px 10px;
  border-bottom: 1px solid #dadada; }

/* line 262, static/css/base.scss */
.container.profile .profile-options .tabs ul li.link a {
  margin-bottom: 20px;
  padding: 20px; }

/* line 272, static/css/base.scss */
#weekly {
  overflow-y: auto;
  overflow-x: hidden; }
