// Base CSS

html,
body {
  font-family: 'Open Sans', serif;
}

.hero.is-info {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
  .footer {
    height: 5%
  }
}
.footer-widgets {
}


/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


//SliderMenu CSS
// html,
// body {
//     background-color: lightcyan;
// }
.menu {
    $root: &;

    &__burger {
        $burger: #{$root}__burger;
        width: 50px;
        height: 50px;
        left: 20px;
        top: 50px;
        position: fixed;
        cursor: pointer;
        z-index: 99;

        &__span {
            position: absolute;
            height: 5px;
            width: inherit;
            background-color: #fff;
            transition: all 0.2s;
            &:before {
                @extend #{$burger}__span;
                content: "";
                top: -10px;
            }
            &:after {
                @extend #{$burger}__span;
                content: "";
                top: 10px;
            }
        }
        &--open {
            #{$burger}__span {
                background-color: transparent;
                &:before,
                &:after {
                    background-color: #fff;
                    transform-origin: 0 50%;

                }
                &:before {
                    transform: translateX(7px) translateY(-5px) rotate(45deg);
                }
                &:after {
                    transform: translateX(7px) translateY(10px) rotate(-45deg);
                }
            }
        }
    }
    &__nav {
        position: absolute;
        top: 0;
        left: -25%;
        height: 100%;
        width: 15%;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #333;
        transition: all 0.3s;
        z-index: 98;

        @media screen and (max-width: 768px) {
            width: 90%;
            left: -90%;
            font-size: 1.5rem;
        }

        &--open {
            left: 0;
        }
    }
    &__list {
        list-style: none;
        position: absolute;
        top: 15%;
        left: 25px;

        &__item {
            margin-left: 0;
            margin-top: 20%;
            font-size: 200px;
            transition: all 0.5s ease-in-out;
        }
    }
    &__link {
        text-decoration: none;
        color: #ddd;
        &:hover {
            text-decoration: inherit;
            color: #fff;
        }
    }
}
