{% extends "userprofiles/profile_base.html" %}
{% block profile %}

<div class="columns is-mobile is-multiline">
  <div class="column is-two-fifths">
      <div class="box">
        <p> <b>Name</b>: {{user.profile.name}}</p>
        <p><b>Surname</b>: {{user.profile.surname}}</p>
        <p><b>Birthdate</b>: {{user.profile.birthdate}}</p>
        <!--  -->
        <p><b>Country</b>: {{user.profile.address.country}}</p>

      </div>
  </div>
  <div class="column">
      <!-- two lines -->
      <div class="box">
          <p><b>ID</b>: {{user.profile.personal_id.id_number}}</p>
          <p><b>ID Type</b>: {{user.profile.personal_id.id_type}}</p>
          <p><b>Fiscal ID</b>: {{user.profile.personal_id.fiscal_id}}</p>
      </div>
      <div class="box">
          <p><b>Profession</b>: {{user.profile.profession}}</p>
          <p><b>Email</b>: {{user.profile.personal_email}}</p>
          <p><b>Website</b>: {{user.profile.personal_website}}</p>
      </div>
  </div>


</div>



{% endblock %}
